@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 50px;
}

#content {
  max-width: 1220px;
  margin: auto;
  background: white;
  z-index: -1;
}

#PokemonCard {
  height: 180px;
  width: 137px;
  margin: 15px;
  background-color: black(218, 218, 218);
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
}

/* #img_container{
display: block;
align-items: center;
} */
#img {
  height: 120px;
  width: 120px;
  justify-content: center;
  z-index: -1;
}


#PokemonName {
  text-transform: capitalize;
  display: inline;
  text-align: center;
  color: hsl(214, 66%, 45%);
  font-weight: 700;
}

#PokemonID {
  height: 17px;
  width: 29px;
  color: black;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

